.button{
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
}
.background{
    padding: 20px 30px;
    background-color: #f5f5f5;
    border-radius: 5px;
    margin: 20px;
    width: fit-content;
}
.button:hover {
    background-color: #ff6347;
    color: white;
    cursor: pointer;
}
.buttonCenter{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.main{
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: center;
}