.card{
    background-color: #f5f5f5;
    width: 450px;
    height: fit-content;
    display: flex;
    align-items: center;
}
.gamePFP{
    width: 170px;
    height: 230px;
    object-fit: cover;
}
.textContainer{
    margin-left: 15px;
    margin-right: auto;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
}
.title{
    font-size: 34px;
    margin-bottom: 0;
}
.txt{
    margin-top: 10px;
}
.card:hover{
    border: 1px solid rgba(0, 0, 0, 0.34);
    cursor: pointer;
}